@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;

}
body{
  /* display: flex; */
}
.Rect1 {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
}
nav > ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
}
.nav1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
react1 img {
  height: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 80px;
  gap: 100px;
}
.Part1 {
  padding: 10px;
}
.img1 {
  cursor: pointer;
  height: 25px;
}
.title1 {
  font-family: Work Sans;
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
}
.a {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.apart1 {
  align-items: center;
  padding-top: 100px;
  width: 100%;
  padding-left: 100px;
  background-image: url(images/Group\ 14.png);
}
.img-container1 {
  align-items: end;
  padding-right: 50px;
}
.img {
  margin-bottom: 0px;
  height: 40px;
}
.list1 {
  display: flex;
  padding: 0;
  gap: 10px;
}
.title2 {
  width: 380px;
  height: 48px;
  color: #0b0223;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
.goat {
  width: 260px;
  height: 80px;
  font-family: Work Sans;
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
}
.but {
  gap: 25px;
  margin-top: 20px;
}
.button1 {
  padding: 10px 30px;
  border-radius: 40px;
  width: 150px;
  color: white;
  background: #ff42a5;
  border: none;
}
.button2 {
  padding: 10px 30px;
  border-radius: 40px;
  width: 150px;
  color: white;
  background: #4ec5f7;
  border: none;
}
.play-container {
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
  gap: 20px;
  padding-bottom: 0px;
}
.instant {
  text-align: right;
}
.image2 {
  position: relative;
  bottom: 250px;
  right: 150px;
}
.play-t {
  text-align: left;
  padding-left: 200px;
  padding-top: 200px;
}
.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6,
.icon7,
.icon8,
.icon9 {
  background-color: white;
  border: none;
  padding: 2px;
  padding-right: 5px;
  border-radius: 50px;
  height: 50px;
  cursor: pointer;
}
.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover,
.icon5:hover,
.icon6:hover,
.icon7:hover,
.icon8:hover,
.icon9:hover {
  border: 2px solid #ff42a5;
}
.icon1 {
  grid-area: icon1;
  display: flex;
  gap: 10px;
}
.icon2 {
  grid-area: icon2;
  display: flex;
  gap: 10px;
  padding: 0;
}
.icon3 {
  grid-area: icon3;
  display: flex;
  gap: 10px;
}
.icon4 {
  grid-area: icon4;
  display: flex;
  gap: 10px;
}
.icon5 {
  grid-area: icon5;
  display: flex;
  gap: 10px;
}
.icon6 {
  grid-area: icon6;
  display: flex;
  gap: 10px;
  height: 60px;
}
.icon7 {
  grid-area: icon7;
  display: flex;
  gap: 10px;
  height: 60px;
}
.icon8 {
  grid-area: icon8;
  display: flex;
  gap: 10px;
}
.icon9 {
  grid-area: icon9;
  display: flex;
  gap: 10px;
}
.icon-container {
  display: grid;
  gap: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  align-items: center;
  padding: 100px 100px;
  grid-template-areas:
    "icon1  icon2  icon3   icon4  icon5"
    "icon6  icon7  icon8   icon9     .";
}
.fcontainer {
  background-color: #0b0223;
}
.div22 {
  display: flex;
  gap: 20px;
  justify-content: center;
  list-style-type: none;
  color: #ffffff;
  font-family: Work Sans;
  font-size: 1.2rem;
}
.iconw1 {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 50px;
  list-style-type: none;
  cursor: pointer;
}
.div03 {
  display: flex;
  color: #ffffff;
  gap: 60px;
  justify-content: center;
  margin: 50px;
  list-style-type: none;
  font-size: 1rem;
}
.div4 {
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  padding-bottom: 100px;
}
.div1 {
  padding-top: 100px;
}
.image1 {
  height: 800px;
}
.ot {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0px;
}
.funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
}
.ot1 {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
}

.pic {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.pic1:hover,
.pic2:hover,
.pic3:hover,
.pic4:hover {
}

.postercontainer {
  width: 100%;
  height: 400px;
  position: relative;
  background: blue;
}
.postercontainer div {
  width: 100%;
  background: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.postercontainer .poster {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.online-game-container {
  display: flex;
  gap: 20px;
}
.single-game {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}
.poster img {
  width: 100%;
}
.poster {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
}
.poster div {
  position: absolute;
  background: rgba(7, 7, 7, 0.279);
  top: 0;
  bottom: 0;
  right:  0;
  left: 0; 
}
.poster div:hover {
  opacity: 1;
}
.poster{
  background: black;
  z-index: 999;
} 
.poster div {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poster div span {
  text-align: center;
}
.w-6 {
  width: 70px;
}
.online-game-container-section{
  padding: 0px 100px;
}
.h-6 {
  height:70px;
}
@media screen and (max-width: 476px) {
  .online-game-container-section{
    padding: 0px 5px;
  }
  .icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6,
.icon7,
.icon8,
.icon9 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 25px;
  cursor: pointer;
}
  .icon-container div{
    font-size: 7px;
    font-weight: 400;
  }
  .icon-container img{
  width: 30px;
  width: 30px;
  }
  .icon-container {
    gap: 5px;
     padding:0px;
    grid-template-areas:
        "icon1 icon2 icon3"
        "icon4 icon5 icon6"
        "icon7 icon8 icon9";
}
  .play-t {   
    padding: 0px;  
}
.image1 img{
  width: 100%; 
}
  .img01 img{
    width: 100%;
  }
  .online-game-container {
    display: flex;
    flex-direction: column;
  }
  nav,
  nav > ul,
  .apart1,
  .a,
  .play-container {
    flex-direction: column;
    gap: 0px;
    padding: 0px;
    margin: 0px;
  }
  .Rect1 {
    margin-left: 5px;
    width: 100%;
  }
  .apart1 {
    margin-top: 10px;
  }
  .size1 {
    width: 20%;
  }
  .title2 {
    width: 100%;
  }
  .goat {
    margin-top: 50px;
  }
  .image1{
    width: 100%;
  }
  .div03 {
    gap: 10px;
    padding: 0px;
  }
  .div22 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    color: #ffffff;
    font-family: Work Sans;
    font-size: 1.2rem;
}
.icon-container{
  width: 90%; 
}

}
@media screen and (max-width: 976px) and (min-width:500px) {
  .online-game-container-section{
    padding: 0px 5px;
  }
  .icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6,
.icon7,
.icon8,
.icon9 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 25px;
  cursor: pointer;
}
  .icon-container div{
    font-size: 7px;
    font-weight: 400;
  }
  .icon-container img{
  width: 30px;
  width: 30px;
  }
  .icon-container {
    gap: 5px;
     padding:0px;
    grid-template-areas:
        "icon1 icon2 icon3"
        "icon4 icon5 icon6"
        "icon7 icon8 icon9";
}
  .play-t {    
    padding: 0px;  
}
  .img01 img{
    width: 100%;
    height: 25px;
  }
  .online-game-container {
    display: flex;
    flex-direction: column;
  }
  nav,
  .apart1,
  .a,
  .play-container {
    flex-direction: column;
    gap: 0px;
    padding: 0px;
    margin-bottom: 650px;
    margin-top: 100px;
  }
  .Rect1 {
    margin-left: 5px;
  }
  .apart1 {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .size1 {
    width: 20%;
  }
  .title2 {
    width: 100%;
  }
  .goat {
    margin-top: 50px;
  }
  .image1 img{
    width: 100%;
  }
  .div03 {
    gap: 10px;
    padding: 0px;
  }

.icon-container{
  width: 90%;
  margin-bottom: 50px;
  
}
.a{
  margin: 0px;
}

nav>ul{
  padding: 0;
  margin-bottom: 10px;
  align-items: center;
  margin-left: 50px;
  width: auto;
}
.div22 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  list-style-type: none;
  color: #ffffff;
  font-family: Work Sans;
  font-size: 1.2rem;
}
nav{
  margin:50px;
}
.container01{
  margin-bottom: 20px;
}
}